<nav class="navbar navbar-expand navbar-dark bg-dark container">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">LOGO</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse row" id="navbarNavDropdown">
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/bigscreen/homepage">Home</a>
				</li>

				<select class="nav-item dropdown bg-dark text-white text-opacity-50 border-0" id="categories"
					aria-labelledby="navbarDropdownMenuLink">

					<option value="now_playing" class="dropdown-item text-white text-opacity-75" disabled selected>
						Categories</option>
					<option id="now_playing" value="now_playing" class="dropdown-item text-white text-opacity-75">Now
						Playing</option>
					<option id="top_rated" value="top_rated" class="dropdown-item text-white text-opacity-75">Top Rated
					</option>
				</select>
				<li class="nav-item">
					<a class="nav-link" href="/bigscreen/login">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/bigscreen/register">Create an Account</a>
				</li>
				</select>
			</ul>
		</div>
	</div>
</nav>