<%- layout('layout/template.ejs') %>
<div class="render-movies row row-cols-1 row-cols-md-3 g-4 w-75 py-5 m-auto"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // let category = 'top_rated'
    const loadMovies = (category = 'top_rated') => {
        fetch(`https://api.themoviedb.org/3/movie/${category}?api_key=46017593ecb210526b182311c582626b`, {
                method: 'POST',
                headers: {}
            })
            .then(res => res.json())
            .then((data) => {
                renderMovieCard(data)
            })
            .catch(err => console.log(err))
    }

    const renderMovieCard = (data) => {
        let output = ''

        for (movie of data.results) {
            output +=
            /*html*/
            `<div class="col w-25">
                <div class="card border-bottom bg-dark text-white text-opacity-75 h-100 w-100">
                    <div style="height:20rem">
                        <img src="https://image.tmdb.org/t/p/original/${movie.poster_path}" class="card-img-top h-100" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${movie.title}</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text">${movie.release_date}</p>
                            <!--<form action="/homepage/moviesLike" method="POST">
                                <input type="hidden" id="hiddenInput" name="movieId" value="${movie.id}" />
                                <input type="submit"  class="text-decoration-none h2 bg-transparent border-0 link-danger" value="&#9825;">
                            </form>-->
                        <button style="z-index:10" class="text-decoration-none h2 bg-transparent border-0 link-danger" id="like" data-id="${movie.id}">&hearts;</button>

                        </div>
                            <!--<i class="text-decoration-none h2 bg-transparent border-0 link-danger" id="like"><span>&#9825;<span></i>-->
                        <p class="card-text">${movie.overview}</p>
                    </div>
                </div>
            </div>`
        }
        document.querySelector('.render-movies').innerHTML = output
    }
    loadMovies()
    document.querySelector("#categories").addEventListener('change', (e) => {
        loadMovies(e.target.value)
    })

    
    $('body').on("click", '#like', function(){
        let movieId = $(this).data('id')
        $(this).css({'transform': 'scale(1.2)', 'transaction': '.7s'})
        setTimeout(() => {$(this).css('transform', 'scale(1)')}, 100)
        
        axios.post('/homepage/moviesLike', {movieId:movieId})
    })
</script>