<%- layout('layout/template.ejs') %>
<div class="container border rounded p-5 my-5 w-25">
	<form method="POST" action="/login" class="row g-3 text-white needs-validation" novalidate autocomplete="off">
		<div class="col-md-12">
			<div class="input-group has-validation">
				<input type="text"  class="form-control" placeholder="Username" name="username" id="validationCustomUsername"
					aria-describedby="inputGroupPrepend" required>
					<div class="valid-feedback">
						Looks good!
					</div>
				<div class="invalid-feedback">
					Please choose a username.
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<input type="password"  class="form-control" placeholder="Password" id="validationCustom05" minlength=8 name="password" required autocomplete="false">
			<div class="valid-feedback">
				Looks good!
			</div>
			<div class="invalid-feedback">
				Please provide your password.
			</div>
		</div>
		<div class="col-12">
			<button class="btn btn btn-success" type="submit">Login</button>
		</div>
		<div class="col-12">
			<a href="/register" type="submit">Don't have an account? Create one</a>
		</div>
	</form>
	
</div>